<div class="col-md-2"></div>
<div class="col-md-8">
<ul class="list-group">
  <li class="list-group-item">
  <form name="statusUpdate" class="form-horizontal" ng-submit="statusUpdate.$valid && updateStatus(status)" novalidate>
    <div class="form-group">
      <div class="col-md-1"></div>
      <div class="col-md-9">
          <input class="form-control" name="content" ng-model="status.body" type="text" placeholder="Update your status" required></input>
      </div>
      <div class="col-md-2">
        <input type="submit" class="btn btn-default" value="Update" />
      </div>
    </div>
  </form>
</li>
  <li class="list-group-item" ng-repeat="status in statuses">
    <span>{{status.name}}:</span>
    <p class="status-body">{{status.body}}</p>
  </li>
</ul>
</div>
<div class="col-md-2"></div>
